*, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: rgb(252, 123, 3);
    color: white;
}

header nav ul {
    display: flex;
    margin-top: 7px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
}

nav li {
    list-style-type: none;
    color: white;
    font-weight: bold;
    font-size: 125%;
}

.me {
    border-radius: 50%;
    border: 3px solid rgb(252, 123, 3);
}

p {
    line-height: 30px;
    font-size: 125%;
}

h1 {
    font-size: 200%;
}

section {
    text-align: center;
    width: 60vw;
    margin: 50px auto;
}

section h1 {
    margin-bottom: 15px;
    color: rgb(252, 123, 3);

}

.projects h2{
    margin-bottom: 20px;
}

.projects a {
    width: 100%;
}

.horiseonImg {
    width: 75%;
}

.flex {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.flex img {
    width: 88%;
}

.contact-info{
    
    border: 2px solid black;
    padding: 5px;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}
@media screen and (max-width:800px)  {
    .me{
        width: 350px;
        height: auto;
    }
    section {
        width: 90vw;
    }
    .flex {
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
        text-align: center;
    }
    header h1 {
        font-size: 120%;
        align-content: center;
        margin-top: 5px;
    }
    .about div p {
        font-size: 110%;
        line-height: 23px;
    }

    nav  ul a li {
        font-size: 100%;

    }
    .shelfImg{
        width: 75%;
    }
}
